.canvas {
  background-color: rgb(31, 29, 56);
  border: solid;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1 0 0;
  border-color: black;
  border-style: solid;
  margin: 0.05em;
}
